In [ ]:
# for sets, the elements are unique, not duplicated
# Sets, tuples, dictionaries, and lists

In [ ]:
# set example

#This is a list
languages = ["Urdu","French","Spanish","Russian","Python","French"]

#This is a set function (passing the list to a set function)
languages_set = set(languages)

print(languages_set)

In [ ]:
type(languages_set)

In [ ]:
print(languages_set)

In [ ]:
# Define a set with curly braces
dogs = {"Setter","Shepherd","Lab","Poodle"}
print(dogs)

In [ ]:
# hot to initialize an empty set
yale_colelges = set()

In [ ]:
yale_colleges = set()
yale_colleges.add("Morse")
yale_colleges.add("JE")
yale_colleges.add("Davenport")

print(yale_colleges)

In [ ]:
# To add more things to the set, you use "update", and you pass it in as a list or as set {"Saybrook","Hopper"} or ["Saybrook","Hopper"] it won't work
yale_colleges.update(["Saybrook","Hopper"])
print(yale_colleges)

In [ ]:
yale_colleges.update({"Dwight","Davedoff"})
yale_colleges_d = set()
for college in yale_colleges:
    if college[0] == "D":
        yale_colleges_d.add(college)
    else:
        pass
print(yale_colleges_d)

In [ ]:
a = {1,2,3,4,5}
b = {1,2,3,4,5}
c = {2,3,4,5,6}
d = {3,4,5,6,7}
print(a.union(b,c,d))
print(c.intersection(d))

In [ ]:
# Tuples store multiple items in a single variable
# Tuples are ordered and unchangeable
# Tuples are witten with round brackers ()
# Sets are unordered

In [ ]:
first_tuple = ("Apple","Cherry","Banana")
print(first_tuple)

In [ ]:
first_tuple = ("Apple","Cherry","Banana", "Apple", "Kiwi")
print(first_tuple)
print(first_tuple[0])

In [ ]:
# Since tuples are ordered, they are also indexed
print(first_tuple[0:3])

In [ ]:
# Tuple doesn't support item deletion because it's imutablee
del first_tuple[3]
print(first_tuple)

In [ ]:
# Tuple doesn't support item deletion because it's imutablee
first_tuple_l = list(first_tuple)
del first_tuple_l[3]
first_tuple = tuple(first_tuple_l)
print(first_tuple)

In [ ]:
#List Comprehension

for x in range(10):
    print(x**2)

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

In [ ]:
even_squares = [x**2 for x in range(10) if x%2 == 0]
print(even_squares)

In [ ]:
squares = [x**2 if x%2 == 0 else x**3 for x in range(10)]
squares

In [ ]:
students = {"Joseph":"America","Alejandro":"Mexico","Rakkshet":"India","Alex":"Korea","Anibal":"Chile"}
print(students)

In [ ]:
print(students["Alex"])

In [ ]:
students.keys()

In [ ]:
students.values()

In [ ]:
students.items()

In [ ]:
for student in students.keys():
    print(student)

In [ ]:
for student in students.values():
    print(student)

In [ ]:
#Access both keys and values
for key,value in students.items():
    print(key,value)

In [ ]:
# Bring 2 lists into a dictionary
jackson_faculty = ["King","JT","Makaridis","Levinson","Ghandi"]
sme = ["Python","Stats","Intel","Econ","Politics"]
jackson_faculty_sme = dict(zip(jackson_faculty,sme))
print(jackson_faculty_sme)

In [4]:
#Attaching multiple values to a key within a dictionary
student_grades = {"student_1":{"Name":"Joseph","GPA":4.7},
                  "student_2":{"Name":"Steve","GPA":4.8},
                  "student_3":{"Name":"Casey","GPA":4.0}}
student_grades["student_1"]["GPA"] = 4.6
print(student_grades)

{'student_1': {'Name': 'Joseph', 'GPA': 4.6}, 'student_2': {'Name': 'Steve', 'GPA': 4.8}, 'student_3': {'Name': 'Casey', 'GPA': 4.0}}