## Sets
Sets in Python are **unordered** collections of **unique** elements. 
Remove the redundant names in the following list and save to a variable called "set_names". You may have to unify capitalization to get it right!

In [7]:
names = ["Alice", "Bob", "alice", "bob", "Charlie", "charlie", "Dana", "dana"]
 #Your code here:
    
 #Coverted the list to a set with a list comprehension
set_names = {each_name.capitalize() for each_name in names}
print(set_names)

{'Bob', 'Dana', 'Charlie', 'Alice'}

Add Joseph to your "set_names" set and print "Added Joseph:" and then the set.

In [8]:
 #Your code here:

 #Used the add feature to add Joseph to the set
set_names.add("Joseph")
print("Added Joseph: ")
set_names

Added Joseph:

{'Alice', 'Bob', 'Charlie', 'Dana', 'Joseph'}

Remove "Alice" from your set_names set and print "Removed Alice:" and then the set.

In [9]:
 # Your code here:
    
# Used the remove function to remove Alice
set_names.remove("Alice")
print("Removed Alice: ")
set_names

Removed Alice:

{'Bob', 'Charlie', 'Dana', 'Joseph'}

## Tuples
In Python, a tuple is an **ordered**, **immutable** collection of elements. Once a tuple is created, you cannot modify its elements or their order. Tuples are commonly used in Python programming and can be employed in various scenarios due to their immutability and the ability to store multiple items.

In [ ]:
#Make a string from the following tuple: IT should read F
tuple_1=(F','o','o','b','a','W','o','o','b','a','J','o','h','n')

### Tuples for Protecting Data Integrity

Because tuples are immutable, their content can’t be changed after declaration. This property makes tuples a suitable data type to ensure the integrity of data. Aníbal asked in the last class where you might use a tuple, or want to use a tuple. I gave the example of student records, but a more worldly example is trade data from the NYSE. Once the market closes, we wouldn't want that data manipulated, changed or altered in any way. The consquences could be dire.

Write a function called "stock_info" that returns a tuple with a company's stock ticker, a date, an opening price, and volume. Look up the data for October 4, 2023 for Apple, Google, Microsoft,and AWS. Call the function with appropriate data for those companies and those dates, and save each to an Apple, Google, Microsoft and AWS variable. Print each

Here is where you can find the data. For example here is Apple: (https://finance.yahoo.com/quote/AAPL/history/)

In [ ]:
#Your code here:

## For Loop
Write a script that prompts the user for two words (two, one-word strings). Print all the unique letters that are common to both words, in alphabetical order, using for loops in your solution.

For example:

Enter one word: Home '

Enter another word: meter

Letters in common: em

In [ ]:
 #your code here:

## For Loops to List Comprehensions
Write the following FIRST as a for loop, then as a list comprehension

 Extract all country names from the "some_names" list and append them to a list called "country names". I've provided a country list for you to use in your loop or comprehension.

In [ ]:
country_list = ['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia, Plurinational State of', 'Bonaire, Sint Eustatius and Saba', 'Bosnia and Herzegovina', 'Botswana', 'Bouvet Island', 'Brazil', 'British Indian Ocean Territory', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Cayman Islands', 'Central African Republic', 'Chad', 'Chile', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Colombia', 'Comoros', 'Congo', 'Congo, The Democratic Republic of the', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Falkland Islands (Malvinas)', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia', 'French Southern Territories', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heard Island and McDonald Islands', 'Holy See (Vatican City State)', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Democratic People's Republic of", 'Korea, Republic of', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Macedonia, Republic of', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius', 'Mayotte', 'Mexico', 'Micronesia, Federated States of', 'Moldova, Republic of', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norfolk Island', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territory, Occupied', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Réunion', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Barthélemy', 'Saint Helena, Ascension and Tristan da Cunha', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin (French part)', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Georgia and the South Sandwich Islands', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'South Sudan', 'Svalbard and Jan Mayen', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan, Province of China', 'Tajikistan', 'Tanzania, United Republic of', 'Thailand', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'United States Minor Outlying Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, Bolivarian Republic of', 'Viet Nam', 'Virgin Islands, British', 'Virgin Islands, U.S.', 'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe']
some_names =['Argentina', 'India', 'Alexlandia', 'Walidistan', "The People's Republic of Steve", 'The Federated States of Alejandro', 'Burundi', 'Cambodia','Jacobovakia', 'Chad', 'Chile']

In [ ]:
#For loop here:

In [ ]:
#List comprehension here:

Extract countries with names longer than 6 characters and append them to a list called "longer than 6"

In [ ]:
 #for loop here:

In [ ]:
 #list comprehension here:

## Dictionaries

Create a Python dictionary named world_population that contains the following key-value pairs, where keys represent country names and values represent their respective populations.

China: 1.41 billion
India: 1.34 billion
United States: 331 million
Indonesia: 276 million
Pakistan: 225 million

In [ ]:
#Your code here:


Write a Python program that allows a user to input a country name and then displays the population of that country. Be sure to include error handling for cases where the entered country is not in your world_population dictionary.

In [ ]:
#Your code here:

Update the world_population dictionary to reflect the following changes:

Add Brazil with a population of 213 million.
Update China's population to 1.40 billion.
Remove Pakistan from the dictionary.
Write a Python program to perform these updates and display the updated dictionary.

In [ ]:
#Your code here:

Write a Python program that:

Displays the country with the largest population.
Displays the country with the smallest population.
Calculates and displays the average population of the countries in the world_population dictionary.

In [ ]:
 #Your code here:

Use the .keys() method to return a view object that displays a list of all the keys in the dictionary.

In [ ]:
#Your code here:

Use the .values() method to return a view object that displays a list of all the values in the dictionary.

In [ ]:
#Your code here:

Use the .items() method to return key, value pairs in a print statement that states "The population of the {country} is the {population} With the appropriate countries and populations for each.

In [ ]:
#Your code here:

Given the following nested dictionary below, write code to print the author's name.

In [ ]:

book = {
    'title': 'To Kill a Mockingbird',
    'author': {
        'name': 'Harper Lee',
        'birth_year': 1926
    },
    'published_year': 1960
}

#Your code here: